@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import 'tailwindcss';

.hero-image{
  background-image: url(./assets/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
}

.technology{
  background-image: url(./assets/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
}

.crew{
  background-image: url(./assets/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
}

.destination{
  background-image: url(./assets/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
}

.barlow {
  font-family: "Barlow Condensed", sans-serif;

}

.bellefair{
  font-family: "Bellefair", serif;

}